body {
  overflow-x: hidden;
  text-align: center;
  font-family: 'Courier New',
    Courier,
    monospace;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

.container {
  max-width: 100%;
  margin-top: -3px;
  text-align: center;
  background-color: #fff;
  padding-bottom: 30px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.175);
}

.menu-container {
  position: sticky;
  top: -22px;
  border-radius: 5px;
  margin-bottom: 20px;
  background: #14967d;
  color: #cdcdcd;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  box-sizing: border-box;
}

.menu-logo img {
  position: relative;
  top: 30px;
  max-height: 100px;
  text-align: center;
}

h1 {
  color: #333;
  font-size: 40px;
  font-style: normal;
  font-optical-sizing: auto
}

.cocktail-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 20px;
  padding: 15px;
}

.cocktailItem {
  font-size: larger;
  cursor: pointer;
  text-align: center;
  padding: 10px;
  border-radius: 15px;
  background-color: #f5f5f5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.cocktailItem:hover {
  transform: scale(1.05);
  background-color: #aceaac;
}

.options {
  display: none;
  text-align: center;
}

.cocktailOrder {
  font-size: large;
  color: rgb(255, 255, 255);
  background-color: #889488;
  border-radius: 150px;
  width: 40%;
  top: 50%;
  left: 50%;
  transform: translate(75%, 190%);
}


.cocktailItem img {
  width: 100%;
  max-height: 150px;
  object-fit: cover;
  border-radius: 15px;
}

.choose {
  color: #000000;
  background-color: #edffee;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px;
  font-size: large;
  font: 1em 'Courier New';
  font-weight: bold;
}

.details-container {
  display: flex;
  align-items: center;
  justify-content: center;
}


.details {
  max-width:1000px;
  display: grid;
  text-align: left;
  align-items: center;
  justify-items: center;
}